.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.block-center-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.mb-1 {
    margin-bottom: 1em;
}